.header.clearfix
  nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
    .container
      a.navbar-brand(href="/") kim.restaurant
      button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarsExampleDefault", aria-controls="navbarsExampleDefault", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon

      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href="/questions") 식당예약생성
          li.nav-item
            a.nav-link(href="/users") 사용자
          if (!currentUser)
            li.nav-item
              a.nav-link(href='/signin') 로그인
            li.nav-item
              a.nav-link(href='/users/new') 유저생성
          else
            li.nav-item
              a.nav-link(href=`/users/${currentUser._id}`) 내 프로필
            li.nav-item
              a.nav-link(href='/signout') 로그아웃
