extends layout

block hero-unit
      .container        
      #carouselExampleControls.carousel.slide(data-ride='carousel')
       .carousel-inner
        .carousel-item.active
          img.d-block.w-100(src='/images/a.jpg', alt='First slide')
        .carousel-item
          img.d-block.w-100(src='/images/b.jpg', alt='Second slide')
        .carousel-item
          img.d-block.w-100(src='/images/bg.jpg', alt='Third slide')
        a.carousel-control-prev(href='#carouselExampleControls', role='button', data-slide='prev')
          span.carousel-control-prev-icon(aria-hidden='true')
          span.sr-only Previous
        a.carousel-control-next(href='#carouselExampleControls', role='button', data-slide='next')
          span.carousel-control-next-icon(aria-hidden='true')
          span.sr-only Next          

              
block content
  .container
    .row
      .col-md-6
        h3 서비스 목적
        p 식당의 예약 신청하는 것을 도와주는 사이트입니다. 
      .col-md-6
        h3 주요 기능
        ul
          li 예약글 등록/보기/변경/삭제
          li 답변글 등록/삭제
          li 사용자 관리/인증
          li API
          
block b
  .container
    .row
        .col-md-4
          .thumbnail
            a(href='images/a.jpg', target='_blank')
              img(src='images/a.jpg', alt='Lights', style='width:100%')
              |            
              .topright 예약신청
              |           
              .caption
                | 2017/12/5 19:00
                p
                  | 비둘기고기, 함박관 
                p
                  | kim's restaurant | &#xC11C;&#xC6B8;&#xC678;&#xAD6D;&#xC778;&#xD559;&#xAD50;, 김무락
              |     
              .caption
                | #인원 8명     #무료
                span.glyphicon.glyphicon-search
                |    
                span.glyphicon.glyphicon-envelope
        |     
        .col-md-4
          .thumbnail
            a(href='images/b.jpg', target='_blank')
              img(src='images/b.jpg', alt='Nature', style='width:100%')
              |            
              .topright 예약신청
              |           
              .caption
                | 2017/12/3 19:00 
                p
                  | 삽겹살, 5공학관
                p
                  | kim's restaurant | &#xC11C;&#xC6B8;&#xC678;&#xAD6D;&#xC778;&#xD559;&#xAD50;, 이철수
              |     
              .caption
                | #인원 7명     #무료
                span.glyphicon.glyphicon-search
                |    
                span.glyphicon.glyphicon-envelope
        |     
        .col-md-4
          .thumbnail
            a(href='images/bg.jpg', target='_blank')
              img(src='images/bg.jpg', alt='Fjords', style='width:100%')
              |            
              .topright 예약신청
              |           
              .caption
                | 2017/12/3 12:00
                p
                  | 초밥, 5공학관
                p
                  | kim's restaurant | &#xC11C;&#xC6B8;&#xC678;&#xAD6D;&#xC778;&#xD559;&#xAD50;, 김승기
              |     
              .caption
                | #인원 10명   #유료(5000)
                span.glyphicon.glyphicon-search
                |   
                span.glyphicon.glyphicon-envelope

  
